@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", sans-serif;
  scroll-behavior: smooth;
}

/* shared styles */

.image-height {
  height: 240px;
}
.text-color {
  color: #0d1321;
}
.text-center {
  text-align: center;
}
.section-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.section-description {
  font-size: 16px;
  color: #0d1321;
  opacity: 0.7;
  margin-bottom: 32px;
  line-height: 26px;
}

/* header styles */

.header {
  margin-bottom: 74px;
}

/* nav styles */

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}

nav .nav-title {
  font-size: 28px;
  font-weight: 800;
}
nav .nav-download-btn {
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid rgb(13, 19, 33);
  background-color: white;
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* banner styles */

.banner {
  height: 652px;
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-info {
  text-align: center;
  padding: 26px 220px 46px;
}
.banner-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin: 32px 0 24px 0;
}
.banner-description {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 32px;
  line-height: 26px;
}
.banner-contact-btn {
  padding: 20px 24px;
  border: none;
  border-radius: 8px;
  background-color: #0d1321;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
/* web dev styles */

.web-dev {
  max-width: 1140px;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
}
.web-dev-container {
  padding: 80px 96px;
  margin-bottom: 90px;
}
.web-dev-info {
  padding: 0 48px 48px;
}
.web-dev-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
}
.web-dev-row img {
  margin: 48px;
}
.row-info {
  padding: 48px;
}
.row-info-mid {
  width: 60%;
}
.row-title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 16px;
  line-height: 36px;
}
.web-learn-btn {
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #0d1321;
  background-color: transparent;
  opacity: 0.7;
  border: 1px solid #0d1321;
  cursor: pointer;
}

/* inspiration styles */

.inspiration-section {
  margin-bottom: 150px;
}
.inspiration-info {
  max-width: 852px;
  margin: 0 auto;
}
.inspiration-info .inspiration-description {
  margin-bottom: 48px;
}

.inspiration-video {
  padding: 32px;
  max-width: 1140px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin: 0 auto;
}
.programming-hero-video {
  border-radius: 16px;
}

/* my current target styles */

.target-section {
  margin-bottom: 110px;
}

.target-container {
  max-width: 1140px;
  margin: 0 auto;
}
.target-info {
  max-width: 946px;
  margin: 0 auto;
}
.skills-container {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.skill {
  padding: 40px;
}
.skill img {
  width: 56px;
  margin-bottom: 24px;
}
.skill-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}
.skill a {
  font-size: 16px;
  font-weight: 700;
  color: #0d1321;
  cursor: pointer;
}
.skill-html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.skill-css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.skill-js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
/* support section */

.support-section {
  margin-bottom: 80px;
}
.support-container {
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/handshake.jpg");
  width: 1140px;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 48px;
}

.support-title,
.support-description {
  color: white;
}

.support-description {
  width: 600px;
  margin: 0 auto;
}
.support-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.feedback-text {
  padding: 19px 20px;
  width: 548px;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.4);
  border: none;
  border-radius: 8px;
}
.support-submit {
  margin-left: 16px;
  padding: 16px 20px;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
}

/* footer styles */

footer {
  background-color: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px;
}
.footer-title {
  font-size: 20px;
  font-weight: 600;
}
.footer-icons img {
  margin-right: 24px;
}
